
:root {

    /**
     * COLORS
     */
  
    /** Background colors */
   
   
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
    --background: rgb(30,30,31);
    --smoky-black: rgb(18,18,18);
    --blue:  #0077b5;
  
    /** Gradient colors */
    --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    --gradient-3: linear-gradient(0deg, #000000, transparent);
  
    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsl(240, 2%, 13%);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
    --border: hsl(0, 0%, 22%);
  
    /** Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);
  
    /**
     * TYPOGRAPHY
     */
  
    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;
  
    /** Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;
  
    /** Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;
  
    /** Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.5;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
 
    /**
     * BORDER RADIUS
     */
  
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;
  
    /**
     * SPACING
     */
  
    --section-padding: 70px;
  
    /**
     * TRANSITION
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  [data-section] > * {
    transform: translateY(30px);
    opacity: 0;
    transition: 1s ease;
  }
  
  [data-section].active > * {
    transform: translateY(0);
    opacity: 1;
  }

  li { list-style: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }
  
  input {
    width: 100%;
    outline: none;
  }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--smoky-black);
    color: var(--white);
    font-family: var(--fontFamily-noto_sans);
    font-size: 1.6rem;
    line-height: var(--lineHeight-4);
    overflow-y: overlay;
  }
  
  body.nav-active { overflow: hidden; }


  body::-webkit-scrollbar { width: 20px; }
  
  body::-webkit-scrollbar-track { background: var(--smoky-black); }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

  body::-webkit-scrollbar-button { height: 60px; }

  
/*-----------------------------------*\
  preloader
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--smoky-black);
  z-index: 10;
  display: grid;
  place-items: center;
  transition: var(--transition-2);
  transition-delay: 0.5s;
}

.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.preloader .circle {
  width: 60px;
  height: 60px;
  border: 2px solid var(--white);
  border-top-color: var(--white);
  border-radius: 50%;
  animation: rotate360 1s linear infinite;
  transition: var(--transition-2);
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}

.preloader.loaded .circle { opacity: 0; }


  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 16px; }
  
  .hover-1,
  .hover-2 { transition: var(--transition-1); }
  
  .hover-1:is(:hover, :focus-visible) { 
    color: var(--smoky-black);
    transform: translateX(3px);
  }
  
  .hover-2:is(:hover, :focus-visible) { color: var(--smoky-black); }
  
  .profile-card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-card .profile-banner { border-radius: var(--radius-circle); }
  
  .headline {
    color: var(--text-columbia-blue);
    line-height: var(--lineHeight-1);
  }
  
  .headline-1 {
    font-size: var(--fontSize-1);
    color: var(--text-alice-blue);
    font-weight: var(--weight-extraBold);
  }
  
  .headline-2 { font-size: var(--fontSize-2); }
  
  .headline-3 {
    font-size: var(--fontSize-2);
    line-height: var(--lineHeight-2);
  }
  
  .section-title { margin-block-end: 10px; }
  
  .headline .span {
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    
  }
  

  
  .w-100 { width: 100%; }
  
  .card {
    border: 1px solid var(--border);
  }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--black);
    overflow: hidden;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section { padding-block: var(--section-padding); }
  
  .section-text {
    font-size: var(--fontSize-3);
    margin-block-end: 70px;
  }
  
  .grid-list {
    display: grid;
    gap: 30px;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: var(--fontSize-6);
    margin-block: 20px;
  }
  
  .card-wrapper :is(.card-tag, .wrapper) {
    display: flex;
    gap: 3px;
    align-items: center;
  }
  
  

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  color: var(--white);
  text-align: center;
  padding-block-end: 0;
  overflow: hidden;
  
}

.hero::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: var(--black);
  z-index: -1;
background-image: linear-gradient(90deg, #ffffff 0%, #000000 100%);


}

.hero-content { margin-block-end: 90px; }

.hero-subtitle {
  background-color: var(--white);
  color: var(--black);
  margin-inline: auto;
  padding: 5px;
  padding-inline-end: 15px;
  border-radius: var(--radius-8);
}

.hero-subtitle .strong {
  display: inline-block;
  background-color: var(--black);
  color: var(--white);
  padding: 2px 15px;
  margin-inline-end: 15px;
  border-radius: var(--radius-5);
}

.hero-title { margin-block: 30px 8px; }

.hero .section-text { margin-block-end: 40px; }

.hero .btn { margin-inline: auto; }

.hero-banner{
  position: relative;
  display: flex;
  justify-content: center;
 
}



.w-50{
  width: 350px;
  
}



/*-----------------------------------*\
  #TOPICS
\*-----------------------------------*/

.topic-card {
    padding: 24px;
    border-radius: var(--radius-8);
    margin-bottom: 50px;
    background-color: var(--background);
    
  }
  
  .topic-card .card-content { margin-block-end: 15px; }
  
  .topic-card .card-text {
    color: var(--white);
    font-size: var(--fontSize-6);
    margin-block: 15px 20px;
  }
  
  .btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-icon {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    background: var(--blue);
    border-radius: var(--radius-circle);
    color: var(--white);
  }
  
  .btn-icon:is(:hover, :focus-visible) { background: var(--smoky-black); }
  
  .slider {
    --slider-items: 1;
    overflow: hidden;
  }
  
  .slider-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform var(--transition-2);
  }
  
  .slider-item { min-width: 100%; }
  
  .slider-card { position: relative; }
  
  .slider-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: var(--gradient-3);
    border-radius: var(--radius-8);
  }
  
  .slider-list .slider-banner { border-radius: var(--radius-8); }
  
  .slider-content {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  
  .slider-title {
    color: var(--text-columbia-blue);
    font-weight: var(--weight-bold);
    margin-block-end: 5px;
    transition: var(--transition-1);
  }
  
  .slider-card:is(:hover, :focus-visible) .slider-title { color: var(--white); }
  
  .slider-subtitle { font-size: var(--fontSize-7); }
  
  @media (min-width: 575px) {

  :is( .hero) .container { max-width: unset; }

   /**
   * HERO
   */

   .hero-content { padding-inline: 40px; }

   .hero-subtitle .strong { padding-block: 6px; }
 
   .hero::after { height: 200px; }
 
    /**
   * TOPICS
   */

   .topics .section-title { font-size: 2rem; }

   .slider { --slider-items: 3; }
 
   .slider-item { min-width: calc(33.33% - 13.33px); }
 
  }


  @media (min-width: 992px) {

  /**
   * HERO
   */

  .hero {
    background-size: contain;
    text-align: left;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: -1000px;
    left: -500px;
    width: 1500px;
    height: 1500px;
    z-index: -1;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
  }

  .hero-content {
    padding-inline: 0;
    margin-block-end: 0;
  }

  .hero-subtitle,
  .hero .btn { margin-inline: 0; }

  .hero::after {
    width: 200px;
    height: 100%;
    left: auto;
    right: 0;
  }


  
  

   /** 
   * TOPICS
   */

   .topic-card {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 20px;
    
  }

}
@media (max-width: 600px) {
    .topic-card {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

}
@media (max-width: 995px) {

.w-50{
 
  margin-left: 80px;
}

}
@media (min-width: 768px) {

        /**
   * HERO
   */

   .hero-banner {
    max-width: max-content;
    margin-inline: auto;
  }


  
  

}
@media (min-width: 1200px) {

  
    /**
     * HERO
     */
  

     .hero::after { width: 320px; }

     .hero .section-text { --fs-6: 1.8rem; }
   

  


}